.reviews-list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 2em;
  width: 100%;
}

.first-name {
  margin: 0;
  font-size: 1.17em;
  font-weight: bold;
}

.date {
  color: gray;
}
