.title {
  text-align: center;
}

.textarea {
  display: flex;
}

.stars {
  display: flex;
  justify-content: center;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  margin: 5px 0;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: lightgray;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #dc0f63;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #dc0f63;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-review-btn {
  background-color: #dc0f63;
  color: rgb(250, 246, 246);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-review-btn:hover {
  background-color: #bd0e57d7;
  color: white;
}

.submit-review-btn:disabled {
  background-color: grey;
  color: white;
  padding: 15px;
  cursor: not-allowed;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}

.stars-string {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
