.nav-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  white-space: nowrap;
  margin: 5px auto;
}

.nav-btn:hover {
  background-color: lightgray;
  color: black;
}
