.spot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  /* position: relative; */
}

.spot-list > div {
  width: 23%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  align-items: top;
  margin: 8px;
}

.star-rating {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .spot-list > div {
    width: 48%;
  }
}

.spot-list img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}
