ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid #ebebeb;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #ff385c;
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  color: #dc0f63;
}

.profile-dropdown {
  margin-top: 5px;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  border-radius: 8px;
  border: 1px solid #ebebeb;
}

.profile-dropdown.hidden {
  display: none;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Set your desired background color */
  color: black; /* Set your desired text color */
  border: solid #ebebeb;
  padding: 10px 15px;
  border-radius: 25px; /* Adjust border-radius for the pill shape */
  cursor: pointer;
}

.custom-button i {
  font-size: 18px;
}

/* Add this if you want the hamburger icon on the left */
.custom-button i:first-child {
  margin-right: 10px; /* Adjust the spacing between the icons */
}

.custom-button:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); /* Add a box shadow on hover */
  color: black;
  background-color: white;
}

.nav-btn {
  border: none; /* Remove button border */
  background-color: transparent; /* Set your desired button background color */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for a smoother effect */
  width: 100%;
  /* padding: 1px 50px; */
  white-space: nowrap;
}

.nav-btn:hover {
  background-color: lightgray; /* Set your desired background color on hover */
  color: black;
}

.logo{
  width: 40%;
}
